.header {
  background-color: var(--black);
  position: sticky;
  z-index: 10;
  top: 0;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

@media (min-width: 1024px){
  .header__container {
    width: 95%;
    max-width: 173rem;
    margin: 0 auto;
  }
}

/* * lOGOS AND SVG */

.logo-mobile, .svg-icon {
  fill: var(--gray);
  width: 2.4rem;
}

.logo-desktop {
  width: 13.6rem;
  display: none;
}

@media (min-width: 570px){
  .logo-desktop {
    display: block;
  }

  .logo-mobile {
    display: none;
  }
}

.logo-desktop,
.logo-mobile {
  fill: var(--primary);
  transition-property: fill;
  transition-duration: .2s;
  transition-timing-function: ease;

  &:hover {
    fill: var(--white);
    cursor: pointer;
  }
}

/* * NAVEGATION */

.navegation {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

@media (min-width: 1024px){
  .navegation {
    justify-content: space-between;
  }
}

/* * BUTTONS */ 

.btn-nav {
  color: var(--gray);
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1.8rem;

  &:hover {
    background-color: var(--blackDarken);
  }
}

.btn-nav.selected {
  background-color: var(--blackDarken);
  color: var(--white);
}

.btn-nav.btn-flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn-li li:hover,
.btn-li-white li:hover {
  background-color: var(--black);
}

.btn-li li a,
.btn-li-white li a,
.heading-menu {
  padding: 1.2rem 1.6rem;
  font-size: 1.4rem;
  color: var(--gray);
}

.btn-li-white li a {
  color: var(--white);
}

.heading-menu {
  color: var(--grayDarken);
}

/* * SUBMENU */

.sbmn {
  display: none;
  position: absolute;
  background-color: var(--blackDarken);

  &.sbmn-show {
    display: block;
  }
}

/* * MOBILE MENU */

@media (min-width: 1024px){
    .mobile-menu {
      display: none;
    }
}

.sbmn-mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 1rem 0;
}

@media (min-width: 570px){
  .sbmn-mobile-menu {
    width: auto;
  }
}

.heading-mobile-menu {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--heading-small);
  text-transform: uppercase;
}

.line-mobile-menu {
  margin-top: 1rem;
  border-top: .2rem solid var(--black);
}

.btn-mobile-menu > li:active,
.dropbox-list li:active {
  background-color: #000;
}

.btn-mobile-menu > li:hover {
  background-color: var(--black);
}

.btn-mobile-menu li a,
.dropbox-btn {
  padding: 1.2rem 1.8rem;
  font-size: 1.6rem;
  width: 30rem;
  color: var(--white);
}

.dropbox-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dropbox-btn .svg-icon {
  transform: rotate(90deg);
}

.dropbox-list {
  background-color: var(--bg-mobile-dropbox);
  display: none;

  &.dropbox-show {
    display: block;
  }
}

.dropbox-list li:hover {
  background-color: var(--black);
}

.dropbox-list li a {
  font-size: 1.4rem;
  padding: 1.4rem 3.8rem;
  color: var(--gray);
}

/* * GENERAL NAVEGATION */

.navegation__general {
  display: none;
}

@media (min-width: 1024px){
    .navegation__general {
      display: flex;
      align-items: center;
    }
}

.grid-browse {
  display: grid;
  grid-template-columns: 25.2rem 1fr;
  padding: 1rem 0;
}

.line-grid-genres {
  border-left: 0.18rem solid var(--black);
}

.grid-genres {
  display: grid;
  grid-auto-flow: column;
  column-gap: 1.25rem;
  grid-template-rows: repeat(5, 1fr);
  grid-auto-columns: minmax(0, 20rem);
}

.grid-news {
  padding: 1rem 0;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(4, 1fr);
  grid-auto-columns: minmax(0, 35rem);
}