:root {
  --primary: #f47521;
  --primary-hover: #ff944d;
  --secondary: DeepSkyBlue;
  --black: #23252b;
  --blackDarken: #141519;
  --blue: #2abdbb;
  --white: #FFF;
  --gray: #dadada;
  --grayDarken: #a0a0a0;
  --yellow: #fab818;
  --yellowHover: #f8c651;
  --heading-small: rgb(160, 160, 160);
  --bg-mobile-dropbox: rgba(74, 78, 88, 0.5);
  --scrollbar: #59595b;
  --main-font: 'Lato', sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: var(--main-font);
  line-height: 1.5;

  &.sbmn-open {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background-color: unset;
  border: none;
  cursor: pointer;
}

svg, a, button {
  display: block;
}

p {
  margin: 0;
  padding: 0;
}

/* * CUSTOMIZATION OF THE SCROLL BAR */

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
  border: 0.3rem solid var(--black);
}

::-webkit-scrollbar-track {
  background: var(--black);
}

::-webkit-scrollbar-button {
  display: none;
}

/* * GLOBAL BUTTONS */

.btn-fill, .btn-line {
  display: inline-block;
  padding: .5rem 1.6rem;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  border: .2rem solid var(--primary);
  transition: border 300ms;

  &:hover {
    border: .2rem solid var(--primary-hover);
  }
}

.btn-line {
  color: var(--primary);
  background-color: transparent;

  &:hover {
    color: var(--primary-hover);
  }
}

.btn-fill {
  color: var(--black);
  background-color: var(--primary);
  transition: background-color 300ms;

  &:hover {
    border: .2rem solid var(--primary-hover);
    background-color: var(--primary-hover);
  }
}